@font-face {
    src: url(../assets/SeoulNamsan-Medium.ttf);
     font-family: SeoulNamsan;
 }
 @font-face {
    src: url(../assets/JejuGothic-Regular.ttf);
     font-family: JejuGothic;
 }

 @media screen and (max-width: 500px) {

    .invisibleBig {
        display: none;
    }

 }