@font-face {
    src: url(../assets/SeoulNamsan-Medium.ttf);
     font-family: SeoulNamsan;
 }
 @font-face {
    src: url(../assets/JejuGothic-Regular.ttf);
     font-family: JejuGothic;
 }

 @media screen and (max-width: 500px) {

    .invisibleBig {
        display: none;
    }

 }

 #carouselExampleSlidesOnly {
    border-radius: 35px;
    overflow: hidden;
    /* border: 1px solid black; */
  }

  #carouselExampleSlidesOnly img {
    height: 100%; 
    object-fit: cover; 
    border-radius: 35px; 
  }

  .collectionImg{
    height: 280px;
    width: 280px;
    border-radius: 35px;
  }
  .collectionImg1{
    height: 280px;
    width: 280px;
    border-radius: 35px;
    margin-left: 220px;
  }


  .vertical-center {
    display: flex;
    justify-content: center;
  }

  .description {
    text-align: center;
    margin-top: 10px;
  }

  .centered-button {
    text-align: center;
    margin-top: 10px;
  }
  
  .gridPics{
    margin-bottom: 10px;
    border: 10px solid white;
    object-fit: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .FontOne{
    font-family: JejuGothic;
  }

  .FontTwo{
    font-family: SeoulNamsan;
  }

  .SpaceTop{
    padding-top: 20px;
    font-size: 20px;
  }

  .Footer{
    padding-left: 30px;
  }

  .SendBtn{
    color: white;
    height: 60px;
    width: 170px;
    font-size: 30px;
    font-family: FontOne;
    background-color: black;
    margin-left: 300px;
    border-radius: 15px;
  }